header{
    width: 95%;
    height: 200px;
    margin: auto;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    width: 90%;
    padding: 20px 0;
    margin: auto;
    color: #000000;  
    background-color: rgb(249, 231, 231);
}
  
ul {
    padding: 0;
    margin: auto;
    width: 100%;
    list-style-type: none;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

li {
  padding: 20px 1px;
  flex-grow: 1; 
  text-align: center;
}

img{
    height:  64px;
    width: 64px;
    padding-bottom: 8px;
}

p{
    font-family: "crossorigin", sans-serif;
    text-transform: uppercase;
    color: black;
    margin: 0;
    padding: 0;
}

#liHeader1{
  flex-grow: 4;
}
  

  
a {
    color: #fff;
    text-decoration: none;
}

hr{
    background: red;
    width: 18%;
    position: relative;
    top: 2px;
    border: none;
    height: 3px; 
    visibility: hidden;  
}

#opened{
    background: rgb(9, 171, 0);
    visibility: visible;
}

a:hover hr {
    visibility: visible;
}

main{
    background-image: url();
    width: 95%;
    height: 500px;
    margin: auto;
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
}