header{
    background-color: rgb(144, 147, 146);
    width: 95%;
    height: 200px;
    margin: auto;
}

nav {
    width: 100%;
    padding: 20px 0;
    margin: auto;
    background-color: #a58080;
    color: #fff; 
    
}
  
ul {
    padding: 0;
    width: 100%;
    background-color: blanchedalmond;
    list-style-type: none;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

li {
  padding: 30px 10px;
  flex-grow: 1; 
  text-align: center;
  background-color: rgb(255, 255, 255);

}

img{
    height:  76px;
    width: 78px;
}

p{
    color: black;
    margin: 0;
    padding: 0;
}

#liHeader1{
  background-color: rgb(177, 206, 175); 
  flex-grow: 3;
}
  

  
a {
    color: #fff;
    text-decoration: none;
}
  
a:hover {
    
    border-bottom: 2px solid #ec6713;
    

}